/*
 Description:    Neo-Curation CSS elements
 Author:         Niyi Adewole
 Author URI:     http://www.niyiadewole.com
*/

 
/* =Theme customization starts here
------------------------------------------------------- */

/* Css Elements|| These are going to be designed towards being interchangeable components*/

.side-menu {
	align-content: center;
}

.color {
		
}

.red {
	background-color: #f00;
}

.green {
	background-color: #0f0;
}

.blue {
	background-color: #829CE8;
}